<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>메인 페이지</title>
</head>
<body>

<th:block th:replace="fragments/header :: header"></th:block>

<h1>우리 홈페이지에 오신 것을 환영합니다.</h1>

<a sec:authorize="isAuthenticated()" th:text="${userAccount.getAccount().getUsername() + '님 환영합니다'}"></a>

<a sec:authorize="!isAuthenticated()" th:href="@{/loginForm}">로그인</a> <br>

<a sec:authorize="!isAuthenticated()" th:href="@{/signUpForm}">회원가입</a> <br>

<a sec:authorize="isAuthenticated()" th:href="@{/logout}">로그아웃</a> <br>

<a sec:authorize="isAuthenticated()" th:href="@{/updateForm}">회원정보 수정</a> <br>

<a th:href="@{/list}">게시판 목록</a>

<th:block th:replace="fragments/footer :: footer"></th:block>

</body>
</html>